 
  <!--Post Block-->  
  <div class="post-block-content">
      <h3>{{post.title}}</h3>
      <p class="post-sub">By {{post.author}} | {{post.publishdate | date:'dd-MMM-yyyy'}}</p>
      <div class="post-featured-image">
          <img src="assets/images/gallery-images/{{post.image}}">
      </div>
      <ul>
      <div markdown [data]="post.excert" id="preview"> </div>      
      </ul>

 <a routerLink="article-buy/{{post.id}}/{{post.title}}/{{post.image}}/{{post.publishdate}}/{{post.excert}}" class="button"><i class="ion ion-heart">Buy</i></a>
      <a routerLink="article-edit/{{post.id}}/{{post.title}}/{{post.author}}/{{post.image}}/{{post.publishdate}}/{{post.excert}}" class="button"><i class="ion ion-edit">Edit</i></a>
      <a routerLink="article-delete/{{post.id}}" class="button"><i class="ion ion-edit">delete</i></a>
      <a routerLink="article-create/{{post.id}}/{{post.title}}/{{post.image}}/{{post.publishdate}}/{{post.excert}}" class="button" id="add-button">Add<i class="ion ion-plus"></i></a>
              
  </div>
<!--End Post Block--> 