
   <!--Content Section-->
        <div id="services" class="scrollto clearfix" *ngIf="services">

          <div class="row no-padding-bottom clearfix">


              <!--Content Left Side-->
              <div class="col-3">
                  <!--User Testimonial-->
                  <blockquote class="testimonial text-right bigtest">
                      <q>This is an amazing site,me as the company
                          owner of tree am happy because this site
                          has made my company the best in the world</q>
                      <footer>— John Doe, Happy Customer</footer>
                  </blockquote>
                  <!-- End of Testimonial-->

              </div>
              <!--End Content Left Side-->

              <!--Content of the Right Side-->
              <div class="col-3">
                  <div class="section-heading">
                      <h3>{{services.tagline}}</h3>
                      <h2 class="section-title">{{services.title}}</h2>
                      <p class="section-subtitle">{{services.description}}</p>
                  </div>
                  <p>We are AdiTushar Studio and our site is a passage through which
                     our customers can show case their product thereby promoting it and the deatils should be shared with either 
                     Adithya or Tushar as they are the admins of this site .
                  </p>
                  <p>
                      This site provides an amazing platform to for the companies to show case their products.
                      Products can be added,edited,deleted and rated by the admins.On addition the order will be reflected
                      in the Database when new products are introduced.
                  </p>
                  <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
                  <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
                      WATCH OUR SITE <i class="fa fa-play" aria-hidden="true"></i>
                  </a>
              </div>
              <!--End Content Right Side-->

              <div class="col-3">
                  <img src="assets/images/Jell.jpeg" alt="Dancer"/>
              </div>

          </div>


      </div>
      <!--End of Content Section-->