<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

    <div class="container">

      <div class="panel">
        <div class="panel-body">
        <h4 class="text-center"><i class="ion-log-in"></i> Rate the post</h4>

        <form class="icon" [formGroup]="postEditForm" (ngSubmit)="ratePoost(postEditForm.value)">
          <div class="form-group">
              <input type="text" class="form-control input-lg" name="id" placeholder="Id" formControlName="id" [(ngModel)]="this.id">
              <span class="ion-at form-control-icon"></span> 
            </div>
                <div class="form-group">
                <input type="text" class="form-control input-lg" name="comp_id" placeholder="Comp_id" formControlName="comp_id" [(ngModel)]="this.comp_id">
                <span class="ion-at form-control-icon"></span> 
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" name="author" placeholder="Author" formControlName="author" [(ngModel)]="this.author">
                <span class="ion-at form-control-icon"></span> 
            </div>
        
          
           
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="rating" placeholder="Rating out of 5" formControlName="rating" [(ngModel)]="this.rating">
                    <span class="ion-at form-control-icon"></span> 
                  </div>

          <button type="submit"  class="btn btn-block btn-success"> Rate</button>

        </form>

      </div>
      </div>

    </div>

  </div>
