<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

    <div class="container">

      <div class="panel">
        <div class="panel-body">
        <h4 class="text-center"><i class="ion-log-in"></i> Buy the post</h4>

        <form class="icon" [formGroup]="postEditForm" (ngSubmit)="buyPost(postEditForm.value)">
          <div class="form-group">
              <input type="text" class="form-control input-lg" name="id" placeholder="Id" formControlName="id" [(ngModel)]="this.id">
              <span class="ion-at form-control-icon"></span> 
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" name="title" placeholder="Title" formControlName="title" [(ngModel)]="this.title">
                <span class="ion-at form-control-icon"></span> 
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" name="author" placeholder="Author" formControlName="author" [(ngModel)]="this.author">
              <span class="ion-at form-control-icon"></span> 
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" name="publishdate" placeholder="Publishdate" formControlName="publishdate" [(ngModel)]="this.publishdate">
                <span class="ion-at form-control-icon"></span> 
              </div>
              <div class="form-group">
                  <textarea rows="10" class="form-control input-lg" name="excert" placeholder="Post" formControlName="excert" [(ngModel)]="this.excert"></textarea>
                  <span class="ion-at form-control-icon"></span> 
                </div>
                 <div class="form-group">
                    <input type="text" class="form-control input-lg" name="price" placeholder="Price" formControlName="price" [(ngModel)]="this.price">
                    <span class="ion-at form-control-icon"></span> 
                  </div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="image" placeholder="Image" formControlName="image" [(ngModel)]="this.image">
                    <span class="ion-at form-control-icon"></span> 
                  </div>

          <button type="submit"  class="btn btn-block btn-success"> Buy</button>

        </form>

      </div>
      </div>

    </div>

  </div>
