<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

    <div class="container">

      <div class="panel">
        <div class="panel-body">
        <h4 class="text-center"><i class="ion-log-in"></i> Delete the post</h4>

        <form [formGroup]="postEditForm" (ngSubmit)="deletePost(postEditForm.value)">
          <div class="form-group">
          
                </div>

          <button type="submit"  class="btn btn-block btn-success"> Delete</button>

        </form>

      </div>
      </div>

    </div>

  </div>
